@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 7680px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;

    .error {
        position: absolute;
        top: 0;
        width: 50%;
    }

    .icon {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    form {
        // border: 1px solid; 
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 3vh;
        border-radius: 10px;
        background: aliceblue;
    }

    .login {
        display: flex;
        justify-content: center;
        padding: 10px;

        Button {
            width: 100%;
            text-transform: none;
        }
    }

    .heading {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-weight: 600;
    }

    .file {
        margin-top: 10px;
        margin-bottom: 10px;
        // border-bottom: 1px solid;
    }

    .image {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;

        label {
            color: #ff9100;
            margin-left: 10px;
        }

        PersonIcon {
            color: #ff9100;
        }
    }
}

.home {
    height: 80%;
    background: aliceblue;
    width: 60%;
    border-radius: 10px;
    display: flex;

    .sidebar {
        flex: 1;
        border-right: 1px solid #ff9100;
        background-color: #F0AE4B;
        border-radius: 10px 0px 0px 10px;
    }

    .chat {
        flex: 2;
    }

    .home_container {
        display: flex;
    }
}

.navbar {
    height: 15%;
    border-bottom: 1px solid #ff9100;
    background: #F79B11;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile {
        display: flex;
        align-items: center;
    }

    .imageOfUser {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .name {
        display: flex;
        font-weight: 600;
        margin-left: 10px;
        font-size: 20px;
        text-transform: capitalize;
    }
}

.search {
    .chat{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        cursor: pointer;
        border-bottom: 1px solid white;

        // border-bottom: 1px solid white;
        &:hover {
            background-color: #F79B11;
        }
        
    }
    .chats {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        cursor: pointer;

        // border-bottom: 1px solid white;
        &:hover {
            background-color: #F79B11;
        }
    }

    .senderName {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .senderMsg {
        color: gray;
        font-size: 15px;
        font-weight: 400;
    }
}

.chat {
    .chatInfo {
        display: flex;
        justify-content: space-between;
        height: 15%;
        border-bottom: 1px solid #ff9100;
        background: #F76C11;
        border-radius: 0px 10px 0px 0px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            font-size: 25px;
            font-weight: 600;
            color: white;
        }
    }

    .chatIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 10%;
        margin-right: 10px;
    }

    .messages {
        height: calc(100% - 140px);
        background: #F1D6C3;
        overflow: scroll;
        overflow-x: hidden;

        .message {
            display: flex;
            padding: 10px;
            gap: 10px;

            .messageInfo {
                display: flex;
                flex-direction: column;
                color: gray;
                font-size: 15px;
            }

            .messageBody {
                p {
                    font-weight: 600;
                    background: white;
                    min-width: 40%;
                    border-radius: 10px 10px 10px 0px;
                    padding: 10px;
                    overflow: auto;
                    max-width: max-content;
                }
            }

            &.owner {
                flex-direction: row-reverse;

                .messageBody {
                    align-items: flex-end;

                    p {
                        background: #E69B18;
                        min-height: 30px;
                        // max-width: max-content;
                        border-radius: 10px 0px 10px 10px;
                    }
                }
            }
        }

    }

    .input {
        height: 50px;
        background: white;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        flex-direction: row;

        input {
            border: none;
            outline: none;

            &::placeholder {
                color: lightgray;
            }
        }

        .send {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            label {
                cursor: pointer;
            }
        }
    }
}

.nav_container {
    display: flex;
    justify-content: center;
    gap: 10%;
}
